# Ignore the build and lib dirs
build/*
lib/*
dist/*

# Ignore any executables
bin/*
src/python/CVXcanon.py
src/python/CVXcanon_wrap.cpp
src/python/build
src/python/CVXcanon.egg-info
src/python/dist

# Ignore Mac specific files
.DS_Store

# Ignore compiled python files
*.pyc

# Ignore virtual env
.env/*